<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="wo">

    <test name="de">

        <classes>
           <class name="com.tester.demo.testMethodDemo">
               <methods>
                   <include name="test1"/>
                   <include name="test2"/>
                   <include name="test3"/>
                   <include name="logDemo"/>
               </methods>

           </class>

        </classes>

        <listeners>
            <listener class-name="com.vimase"/>
            <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgForMatter"/>
        </listeners>


    </test>

</suite>